 <h3>Créditos:</h3>
 <br />
<p>Esta página ha sido desarrollada en el MOOC Desarrollo de servicios en la nube con HTML5, Javascript y node.js por: </p>
  <p><b>Miguel Equiza Castillo - (MEC)</b></p>
 <p><img class="autor" src="/images/miguel.jpg" /></p>
