body                  { background: #333;}

#page-wrap:after      { content: "Smartphone Layout";}

h2 span, section h3   { display: none;}
body                  { font-size: xx-large;}
footer, input         { font-size: large;}
footer a:link         { display: inline-block;
                        padding: 0px 20px 0px 0px;}
