<label for="preg" class="rem">Pregunta</label>
<input id="preg" type='text' name='quiz[pregunta]' value="<%=quiz.pregunta%>"><br>
<label for="resp" class="rem">Respuesta</label>
<input id="resp" type='text' name='quiz[respuesta]' value="<%=quiz.respuesta%>"><br>
<label for="image" class="rem">Imagen:</label>
<input id="image" type='file' accept="image/*" name="image"><br>
<a href="/quizes"><button type="button">Cancelar</button></a>
<input type="submit" value="Guardar">
