<label for="username">Username:</label><br>
<input type="text" id="username" name="user[username]" size="20" value="<%=user.username%>"><br>
<label for="pass">Password:</label><br>
<input type="password" id="password" name="user[password]" size="20"><br>
<a href='/' <button type="button">Cancelar</button></a>
<input type="submit" value="Enviar">
